
/* 
    Created on : 7 feb. 2023, 13:01:10
    Author     : Fernando
*/

*{
    margin:0;
    padding:0;
    font-family: 'Asap', sans-serif; 
}

body{
    background: black;
    height: 100vh;       
}

h1{
    position: relative;
    top: 100px;
    color: white;
    text-align: center;
    font-size: 50px; 
}

.usuarios {
    position: relative;
    top: 150px;
    display: flex;
    justify-content: center;
    cursor: pointer;   
}

.usuarios img{
    margin: 0 10px;    
}

a{
    position: relative;
    top: 300px;
    left: 640px;
    border-width:2px;
    border-style: solid;
    border-color: white;
    color: white;
    padding: 5px 20px;
    cursor: pointer; 
    text-decoration: none;
}
